In [1]:
import pickle as pkl
import numpy as np
import pandas as pd

In [2]:
path = '/home/matvey/Документы/Data_Analysis_in_Biology_and_Medicine/new_science/data'

In [9]:
def chroms_list() -> list:
    """Функция создает список реальных хромосом."""
    chroms = ['chr'+ str(i) for i in range(1,23)]
    chroms.append('chrX')
    chroms.append('chrY')
    return chroms

In [10]:
with open(f'{path}/teor_sites_coordinats_in_genes.pickle, 'rb') as f:
    genes = pkl.load(f)

In [11]:
with open(f'{path}/teor_sites_coordinats_in_intergenic.pickle', 'rb') as f:
    intergenes = pkl.load(f)

In [16]:
with open(f'{path}/count_real_esites_by_chrom.pickle', 'rb') as f:
    count_real_esites_by_chrom = pkl.load(f)

In [17]:
count_real_esites_by_chrom

defaultdict(int,
            {'chr1': 1188335,
             'chr10': 577208,
             'chr11': 568741,
             'chr12': 703146,
             'chr13': 230417,
             'chr14': 427421,
             'chr15': 454687,
             'chr16': 628587,
             'chr17': 767147,
             'chr18': 204254,
             'chr19': 944876,
             'chr2': 856617,
             'chr20': 322534,
             'chr21': 134286,
             'chr22': 331549,
             'chr3': 714845,
             'chr4': 473979,
             'chr5': 549613,
             'chr6': 551144,
             'chr7': 722774,
             'chr8': 452671,
             'chr9': 499338,
             'chrX': 308412,
             'chrY': 25305})

In [14]:
chr1 = np.random.choice(np.concatenate((genes['chr1'], intergenes['chr1'])), 1188335)

In [15]:
chr1

array([ 34932263, 102852231,  49171180, ...,  50401601, 173796250,
        87144051], dtype=int32)

In [19]:
total_teor_esites = dict()
for chrom in count_real_esites_by_chrom:
    total_teor_esites[chrom] = np.concatenate((genes[chrom], intergenes[chrom]))

In [20]:
total_teor_esites

{'chr1': array([    11871,     11872,     11882, ..., 248946416, 248946417,
        248946418], dtype=int32),
 'chr10': array([ 57212197,  57212199,  57212200, ..., 100650440, 100650441,
        100650442], dtype=int32),
 'chr11': array([    75779,     75781,     75794, ..., 153376331, 153376332,
        153376333], dtype=int32),
 'chr12': array([    12313,     12316,     12317, ..., 114878209, 114878210,
        114878211], dtype=int32),
 'chr13': array([18174014, 18174015, 18174022, ..., 44123600, 44123601, 44123602],
       dtype=int32),
 'chr14': array([16057472, 16057478, 16057486, ..., 89179902, 89179906, 89179913],
       dtype=int32),
 'chr15': array([19878554, 19878562, 19878564, ..., 56717428, 56717429, 56717430],
       dtype=int32),
 'chr16': array([   11563,    11576,    11593, ..., 85584229, 85584233, 85584234],
       dtype=int32),
 'chr17': array([    64110,     64116,     64142, ..., 112377738, 112377740,
        112377743], dtype=int32),
 'chr18': array([   11102,    11112,    11123, ..., 34181609, 34181610, 34181611],
       dtype=int32),
 'chr19': array([    60963,     60965,     60970, ..., 120892917, 120892921,
        120892922], dtype=int32),
 'chr2': array([    38813,     38814,     38817, ..., 181100428, 181100429,
        181100430], dtype=int32),
 'chr20': array([   87249,    87251,    87254, ..., 47414662, 47414669, 47414670],
       dtype=int32),
 'chr21': array([ 5011802,  5011805,  5011812, ..., 26995091, 26995092, 26995093],
       dtype=int32),
 'chr22': array([10736170, 10736171, 10736174, ..., 43375764, 43375765, 43375766],
       dtype=int32),
 'chr3': array([    11749,     11760,     11766, ..., 119579246, 119579247,
        119579248], dtype=int32),
 'chr4': array([    49095,     49096,     49097, ..., 120109140, 120109141,
        120109142], dtype=int32),
 'chr5': array([    58197,     58200,     58206, ..., 144379458, 144379460,
        144379461], dtype=int32),
 'chr6': array([    95123,     95126,     95128, ..., 151202299, 151202300,
        151249536], dtype=int32),
 'chr7': array([    12705,     12706,     12707, ..., 148196473, 148196474,
        148196475], dtype=int32),
 'chr8': array([    64092,     64109,     64115, ..., 105903378, 105903379,
        105903380], dtype=int32),
 'chr9': array([    12135,     12138,     12139, ..., 108447062, 108447063,
        108447064], dtype=int32),
 'chrX': array([   253744,    253745,    253750, ..., 143638653, 143638655,
        143638658], dtype=int32),
 'chrY': array([  253744,   253745,   253750, ..., 24559036, 24559038, 24559041],
       dtype=int32)}

Код ниже был выполнен из отдельного текстового файла

with open(f'{path}/teor_sites_coordinats_total.pickle', 'wb') as f:
    pkl.dump(total_teor_esites, f)

In [2]:
{number: [] for number in range(2)}

{0: [], 1: []}

In [3]:
[number for number in range(2)]

[0, 1]

In [14]:
with open(f'{path}/subdata/0_generation.pkl', 'rb') as f:
    a = pkl.load(f)
pd.DataFrame(a)

           Family  EditingSites
0       (TAACCC)n            23
1            TAR1           153
2          L1MC5a         22113
3         Plat_L3          2037
4             MIR        119003
...           ...           ...
6922  (CTATCATT)n             1
6923  (AACTCATG)n             2
6924    (TTAGGG)n             1
6925   (TTAAGGT)n             1
6926  Repeat-free       6491410

[6927 rows x 2 columns]

In [15]:
with open(f'{path}/subdata/1_generation.pkl', 'rb') as f:
    b = pkl.load(f)
pd.DataFrame(b)

           Family  EditingSites
0       (TAACCC)n            23
1            TAR1           153
2          L1MC5a         22113
3         Plat_L3          2037
4             MIR        119003
...           ...           ...
6922  (CTATCATT)n             1
6923  (AACTCATG)n             2
6924    (TTAGGG)n             1
6925   (TTAAGGT)n             1
6926  Repeat-free       6491410

[6927 rows x 2 columns]

In [9]:
with open(f'{path}/subdata/2_generation.pkl', 'rb') as f:
    c = pkl.load(f)
pd.DataFrame(c)

           Family  EditingSites
0       (TAACCC)n            25
1            TAR1           164
2          L1MC5a         22038
3           MER5B         11812
4       (TGCTCC)n             6
...           ...           ...
6925   (ACTTTAT)n             1
6926   (TAACCAA)n             1
6927    (GTTAGG)n             1
6928   (GGCACCT)n             1
6929  Repeat-free       6492328

[6930 rows x 2 columns]

In [10]:
with open(f'{path}/subdata/3_generation.pkl', 'rb') as f:
    d = pkl.load(f)
pd.DataFrame(d)

              Family  EditingSites
0          (TAACCC)n            30
1               TAR1           173
2             L1MC5a         22126
3               MIR3         40372
4          (TGCTCC)n             6
...              ...           ...
6937  (AAATACATTGT)n             2
6938      (CTTCTGG)n             1
6939       (CTTTGC)n             1
6940       (TAGGGT)n             1
6941     Repeat-free       6493865

[6942 rows x 2 columns]